features:
  # 混淆种子
  replacing_seed: 123456789
  # 移除锋利粒子效果
  remove_damage_indicator_particles: false
  void_generator:
    mobs: true
    structures: false

integrations:
  eco: true
  ItemsAdder: true
  Oraxen: true
  Sandalphon: true
  Zaphkiel: true

# 快捷键
shortcuts:
  # F/Q快捷键冷却
  cooldown: '0.5s'
  # Shift+F
  sneak_swap: [ ]
  # 低头时F
  down_swap: [ ]
  # 抬头时F
  up_swap: [ ]
  # Shift+Q
  sneak_drop: [ ]
  # 低头时Q
  down_drop: [ ]
  # 抬头时Q
  up_drop: [ ]
  # 点击玩家
  click_player: [ ]
  # 潜行点击玩家
  sneak_click_player: [ ]

# 上传资源包
automatically_upload:
  # 腾讯云
  cos:
    secret_id: ~
    secret_key: ~
    region: ~
    bucket: ~
    key: 'pack.zip'
  # 阿里云
  oss:
    # 按实际地区填写
    endpoint: 'https://oss-cn-hangzhou.aliyuncs.com'
    access_key_id: ~
    access_key_secret: ~
    bucket: ~
    key: 'pack.zip'

# 资源包管理
resource_packs:
  empty:
    # 资源包url
    url: 'http://cdn.moep.tv/files/Empty.zip'
    # 资源包hash 如果不用验证保持~即可
    hash: '01517226212d27586ea0c5d6aff1aa5492dd2484'
    # 使用资源包条件
    condition: ~
    # 资源包成功加载后动作
    loaded: [ ]
    # 拒绝资源包后动作
    declined:
      - 'command inline "kick {{ sender }} §7请将服务器资源包设置为§f§n启用" as console' # 踢出玩家
    # 资源包下载失败时动作
    failed:
      - 'tell "§c资源包下载失败!"'
    # 接受资源包后动作
    accepted: [ ]
    # 资源包移除时动作
    removed: [ ]